@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
  font-family: 'Playfair Display', serif;
}

.shop{
  background-image: url('../../public/images/shop.jpg');
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
  
}
.products{
  background-image: url('../../public/images/products.jpg');
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
}
.sellers{
  background-image: url('../../public/images/sellers.jpg');
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
}
.arrivals{
  background-image: url('../../public/images/arrivals.jpg');
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
}